.home{
  &__title{
    color: #0030AA;
    @extend .fz-32;
    line-height: (40/32);
    margin: 0;
    font-family: $SF-Compact-Rounded-Semibold;
  }
  &__block01{
    position: relative;
    &:before{
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      min-height: 460px;
      background: #F7F7F9;
    }
    &__section{
      background:
              url(images/bg_right.png) no-repeat top right,
              url(images/bg_left.png) no-repeat top 57px left 57px;
    }
  }
  &__phuhuynh{
    &__box{
      background: #715DED;
      @include media-breakpoint-up('m'){
        padding: 32px;
      }
    }
    &__desc{
      @extend .fz-18;
      line-height: (24/18);
      font-family: $SF-Compact-Rounded-Medium;
    }
    &__txt{
      @extend .fz-16;
      font-family: $SF-Compact-Rounded-Regular;
      line-height: (24/16);
    }
    &__star{
      width: 40px;
      height: 40px;
      display: inline-block;
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      background-image: url("data:image/svg+xml,%3Csvg width='34' height='33' viewBox='0 0 34 33' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15.2311 1.35268C15.9815 -0.0696117 18.0185 -0.0696151 18.7689 1.35268L22.6541 8.71645C22.9435 9.26494 23.4709 9.64816 24.082 9.75389L32.2859 11.1734C33.8705 11.4475 34.5 13.3848 33.3792 14.538L27.5764 20.5086C27.1442 20.9533 26.9427 21.5733 27.031 22.1872L28.2161 30.4282C28.445 32.02 26.7971 33.2173 25.354 32.5077L17.8825 28.8339C17.326 28.5603 16.674 28.5603 16.1175 28.8339L8.64602 32.5077C7.20292 33.2173 5.55498 32.02 5.78388 30.4282L6.96903 22.1872C7.0573 21.5733 6.85583 20.9533 6.42362 20.5086L0.620841 14.538C-0.499951 13.3848 0.129504 11.4475 1.71408 11.1734L9.91802 9.75389C10.5291 9.64816 11.0565 9.26494 11.3459 8.71645L15.2311 1.35268Z' fill='%23FFC531'/%3E%3C/svg%3E%0A");
    }
  }
  &__chuongtrinhen{
    &__txt1{
      @extend .fz-20;
      line-height: (28/20);
      font-family: $SF-Compact-Rounded-Semibold;
    }
    &__desc{
      @extend .fz-16;
      line-height: (24/16);
      font-family: $SF-Compact-Rounded-Regular;
    }
    &__link{
      color: #FFFFFF;
      @extend .fz-18;
      line-height: (24/18);
      font-family: $SF-Compact-Rounded-Medium;
    }
    &__column{

    }
    &__box1{
      color: #FFFFFF;
      @include media-breakpoint-up('m'){

      }
      >*{
        &:nth-child(n+2){
          margin-top: 15px;
        }
      }
      border-radius: 16px;
      margin-top: -40px;
      padding-top: 40px;
      .home__chuongtrinhen__column:nth-child(1) &{
        background: linear-gradient(180deg, #4D4ADA 0%, #8B88FC 100%), #605DED;
        box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.1);
      }
      .home__chuongtrinhen__column:nth-child(2) &{
        background: linear-gradient(180deg, #60B81C 0%, #ACEB7B 144.66%), #605DED;
        box-shadow: 0px 16px 26px rgba(0, 0, 0, 0.1);
      }
      .home__chuongtrinhen__column:nth-child(3) &{
        background: linear-gradient(180deg, #F78D10 0%, #FFD08A 144.05%), #605DED;
        box-shadow: 0px 16px 26px rgba(0, 0, 0, 0.1);
      }
    }
  }
  &__banner{
    background: radial-gradient(28.3% 204.25% at 72.29% 100%, #FFCF59 0%, #FFB64F 100%);
    &__txt{
      color: #FFFFFF;
      @extend .fz-18;
      font-family: $SF-Compact-Rounded-Semibold;
      line-height: (24/18);
    }
    &__title{
      color: #FFFFFF;
      @extend .fz-60;
      line-height: (72/60);
      font-family: $SF-Compact-Rounded-Bold;
    }
    &__list{
      color: #FDFDFD;
      @extend .fz-16;
      line-height: (24/16);
      font-family: $SF-Compact-Rounded-Regular;
      >li{
        padding-left: 22px;
        background-repeat: no-repeat;
        background-position: top left;
        background-image: url("data:image/svg+xml,%3Csvg width='16' height='24' viewBox='0 0 16 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='8' cy='12' r='8' fill='white' fill-opacity='0.8'/%3E%3Cpath d='M5 11.6L7.57143 14L11 10' stroke='%23FFB64F' stroke-width='1.5' stroke-linecap='round'/%3E%3C/svg%3E%0A");
      }
    }
  }
  &__dotpha{
    &__list{
      >li{
        &:nth-child(n+2){
          margin-top: 20px;
        }
        color: #000000;
        font-family: $SF-Compact-Rounded-Regular;
        @extend .fz-16;
        line-height: (24/16);
        padding-left: 10px;
        position: relative;
        &:before{
          content: "";
          top: 5px;
          left: 0;
          position: absolute;
          width: 2px;
          height: 16px;
          display: block;
          background: #66DB52;
        }
        b{
          font-family: $SF-Compact-Rounded-Semibold;
        }
      }
    }
  }
  &__video{
    background: #F3F5FB;
    &__txt{
      color: #333333;
      @extend .fz-16;
      line-height: (24/16);
      font-family: $SF-Compact-Rounded-Medium;
    }
  }
  &__dky{
    &__box{
      background: #FBC762;
      img{
        margin-top: -95px;
      }
    }
    &__box1{
      background: #FAFAFA;
      @include media-breakpoint-up('m'){
        padding: 32px;
      }
      &__txt{
        color: #000000;
        @extend .fz-18;
        font-family: $SF-Compact-Rounded-Medium;
        line-height: (24/18);
      }
      &__label{
        color: #4B4B4B;
        line-height: (24/16);
        @extend .fz-16;
        font-family: $SF-Compact-Rounded-Semibold;
      }
      &__input{
        $x:52px;
        background: #FFFFFF;
        border: 1px solid #EAEAEA;
        border-radius: 10px;
        height: #{$x};
      }
      &__btn{
        $x:52px;
        line-height: calc(#{$x} - 2px);
        background: #65DC53;
        border-color: #65DC53;
        color: #FFFFFF;
        text-transform: inherit;
        border-radius: 10px;
        @extend .fz-18;
        font-family: $SF-Compact-Rounded-Semibold;
        .home__banner &{
          background: #FFFFFF;
          border-color: #FFFFFF;
          color: #333333;
        }
      }
    }
  }
  &__baochi{
    &__box{
      max-width: 736px;
      background: #67D37F;
      border-radius: 16px;
      @include media-breakpoint-up('m'){
        padding: 32px;
      }
      >*{
        &:nth-child(n+2){
          margin-top: 15px;
        }
      }
      &__txt1{
        color: #ffffff;
        @extend .fz-18;
        font-family: $SF-Compact-Rounded-Medium;
        line-height: (24/18);
      }
      &__txt2{
        color: #ffffff;
        line-height: (24/16);
        @extend .fz-16;
        font-family: $SF-Compact-Rounded-Regular;
      }
    }
    &__logo{
      height: 44px;
    }
  }
  &__consoantuong{
    &__column{

    }
    &__box{
      min-height: 200px;
      background: #F2F2F2;
      border-radius: 20px;
      text-align: center;
      &__txt1{
        @extend .fz-48;
        font-family: $SF-Compact-Rounded-Semibold;
        line-height: (60/48);
        .home__consoantuong__column:nth-child(1) &{
          color: #FF9E0D;
        }
        .home__consoantuong__column:nth-child(2) &{
          color: #67D37F;
        }
        .home__consoantuong__column:nth-child(3) &{
          color: #715DED;
        }
      }
      &__txt2{
        color: #333333;
        @extend .fz-20;
        font-family: $SF-Compact-Rounded-Medium;
        line-height: (28/20);
      }
      &__item{
        &:nth-child(n+2){
          margin-top: 5px;
        }
      }
    }
  }
}